@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Noto+Serif&display=swap');


*{
    margin:0px;
    padding:0px;
    transition: all 1s ease-in;
    font-family: 'Cormorant Garamond', serif;
}

/* Logo */
.logo{
    display:flex;
    position: absolute;
    top:3px;
    left:15px;
   
}

.logo p{
    margin-top: 23px;
    margin-left: -13px;
}

/* nav bar */

.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 72px;
    width:98vw;
}

.nav img{
    width:100px;
    height: 100px;
}

.nav a{
    margin-right: 30px;
    text-decoration: none;
    margin-top: 23px;
    color:black;
    padding:5px ;
    border-radius: 10px;
}

.nav a:hover{
    background-color: rgb(163, 255, 255);  
}
a.active{
    background-color: rgb(163, 255, 255);  
}
.nav li{
    list-style: none;
}

.nav li:hover{
    transform: translateX(4px); 
}
.nav li .active{
    transform: translateX(4px); 
}

.search{
    position:absolute;
    top:21px;
    right: 5px;
    padding: 3px;
    outline: none;

}
input{
    width: 18rem;
    height: 22px;
}
.btnsearch{
    height: 22px;
}